Repository umuthopeyildirim/FlatironOpenSource, pull requests merged in 2022-12, with the labels that each got.

#5 Frontend start
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .gitignore
  DataScience/.DS_Store
  README.md
  SoftwareEngineering/.DS_Store
  index.html
  package.json
  postcss.config.js
  public/img/1-SE-Career.svg
  public/img/2-SE-Career.svg
  public/img/3-SE-Career.svg
  public/img/DataScience.svg
  public/img/Product-Design-Hero-Image-8.svg
  public/img/SE-Hero-Image-2.svg
  public/img/about.jpg
  public/img/flatiron-favicon.ico
  public/img/logo-primary.svg
  public/img/vite.svg
  public/robots.txt
  src/assets/css/index.css
  src/assets/img/react.svg
  src/components/CoreBar.jsx
  src/components/CoreFooter.jsx
  src/components/Landing/About.jsx
  src/components/Landing/LandingHero.jsx
  src/components/Landing/Lessons.jsx
  src/components/Landing/Salaries.jsx
  src/main.jsx
  src/views/App.jsx
  src/views/Courses.jsx
  tailwind.config.js
  vite.config.js
  yarn.lock
Labels: enhancement, actions, views, components, root, public, core

#10 Created Courses page and its contents
  DataStructuresAndAlgorithms/index.html
  DataStructuresAndAlgorithms/viewer/bundle.js
  DataStructuresAndAlgorithms/viewer/course-data.js
  README.md
  SoftwareEngineering/.DS_Store
  package.json
  public/img/4-SE-Career.svg
  src/components/CoreBar.jsx
  src/components/CoreFooter.jsx
  src/components/Courses/CoursesHero.jsx
  src/components/Courses/Lessons.jsx
  src/components/Errors/ErrorsHero.jsx
  src/components/Landing/Lessons.jsx
  src/main.jsx
  src/views/Courses.jsx
  src/views/Landing.jsx
  src/views/errors/NotFound.jsx
  vercel.json
  yarn.lock
Labels: bug, documentation, enhancement, views, components, root, public, core

#14 Course view
  src/components/CoreFooter.jsx
  src/components/Course/CourseHero.jsx
  src/components/Course/CourseTextArea.jsx
  src/main.jsx
  src/views/Course.jsx
Labels: enhancement, views, components, core

#19 Merge main with current branch
  package.json
  yarn.lock
Labels: root

#22 Course requests
  README.md
  courses/SoftwareEngineering/Software-Engineering-Prep-2022/viewer/course-data.js
  index.html
  main.py
  public/img/1.webp
  public/img/2.webp
  public/img/3.webp
  public/img/4.webp
  public/img/5.webp
  public/img/fsos.png
  public/img/maskable_icon.png
  public/img/maskable_icon_x128.png
  public/img/maskable_icon_x192.png
  public/img/maskable_icon_x384.png
  public/img/maskable_icon_x48.png
  public/img/maskable_icon_x512.png
  public/img/maskable_icon_x72.png
  public/img/maskable_icon_x96.png
  public/img/prep.webp
  public/manifest.json
  src/components/CoreFooter.jsx
  src/components/Course/CourseBreadCrumb.jsx
  src/components/Course/CourseHero.jsx
  src/components/Course/CourseTextArea.jsx
  src/components/Courses/CoursesHero.jsx
  src/components/Courses/Lessons.jsx
  src/components/Errors/ErrorsHero.jsx
  src/components/Landing/About.jsx
  src/components/Landing/LandingHero.jsx
  src/components/Landing/Lessons.jsx
  src/components/Landing/Salaries.jsx
  src/data/_Courses.js
  src/data/_Salaries.js
  src/main.jsx
  src/utils/Courses.js
  src/views/Course.jsx
  src/views/Courses.jsx
  src/views/Landing.jsx
  src/views/errors/NotFound.jsx
  workers/README.md
  workers/example.wrangler.toml
  workers/package-lock.json
  workers/package.json
  workers/src/index.js
  workers/yarn.lock
  yarn.lock
Labels: views, components, root, public, core, utils

#28 App final cleanup
  public/sitemap.xml
  src/assets/img/react.svg
  src/components/Course/CourseHero.jsx
  src/components/Courses/Lessons.jsx
  src/components/Landing/About.jsx
  src/components/Landing/LandingHero.jsx
  src/components/Landing/Lessons.jsx
  src/components/Landing/Salaries.jsx
  src/components/Landing/SalaryAbout.jsx
  src/main.jsx
  src/views/Landing.jsx
  vite.config.js
Labels: views, components, root, public, core
